.compra-container {
  max-width: 1000px;
  margin: 10% auto;
  padding: 20px;
  background-color: #1a1a1a;
  color: #f0f0f0;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: 'Roboto', sans-serif;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  justify-content: center;/* Ajusta automaticamente */
  gap: 20px; /* Espaçamento entre os cards */
}

.compra-container h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  color: #ffd700;
  grid-column: 1 / -1; /* Faz o título ocupar toda a largura do grid */
}

.compra-container h2 {
  font-size: 1.8rem;
  margin: 10px 0;
}

.compra-container p {
  font-size: 1.2rem;
  margin: 5px 0;
  text-align: center;
}

.compra-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 10px 0;
  border: 2px solid #ffd700;
  transition: transform 0.3s;
}

.compra-container img:hover {
  transform: scale(1.05);
}

.compra-container button {
  padding: 10px 20px;
  background-color: #ffd700;
  color: #1a1a1a;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  transition: transform 0.2s, background 0.3s;
}

.compra-container button:hover {
  transform: scale(1.05);
  background-color: #e6c200;
}

.produto-card {
  background: #222;
  border-radius: 12px;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.produto-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #ffd700;
}

/* RESPONSIVO */
@media (max-width: 800px) {
  .compra-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

@media (max-width: 500px) {
  .compra-container {
    grid-template-columns: 1fr; /* Um jogo por linha em telas pequenas */
    margin: 5% auto;
    margin-top: 30%;
  }

  .compra-container h1 {
    font-size: 3rem;
  }
}